ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.app-description {
  width: 500px;
  height: 275px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.app-description__img {
  width: 100%;
}

.app-description .app-description__link {
  font-family: fantasy, cursive;
  position: relative;
  bottom: 4px;
}

@media (max-width: 768px) {
  .app-description {
    text-align: center;
  }
}

.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__item {
  display: flex;
}

/* Heading */
.title,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Task */
.new-task {
  margin-bottom: 16px;
}

.new-task__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 16px 0 20px 0;
  text-transform: uppercase;
}

.new-task__title {
  margin: 0px 0px 0px 20px;
}

.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__input {
  flex-grow: 1;
}

/* Task */
.task {
  overflow: hidden;
  padding: 19px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  height: 20px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

.task .task__checkbox {
  margin: 0 10px;
}

.task .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  flex-grow: 1;
}

.task .task__input {
  width: 226px;
  display: none;
}

.task__delete-btn .task__btn-img_d {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-btn .task__btn-img_d:hover {
  transform: rotateZ(0);
}

/* Completed */
.done-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}

.done-tasks__title {
  padding-top: 28px;
}

.done-task__item {
  padding-top: 19px;
}

/* Edit Task */
.task_edit .task__input.input-text {
  display: inline-block;
  width: 224px;
}

.task_edit .task__label {
  display: none;
}
